@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.leaflet-control-attribution {
    display: none;
}

table.table-xs {
    font-size: 10pt;
}

div.info {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

.text-center {
    height: 100%;
    line-height: 100%;
    text-align: center;
}