<h4>Devices</h4>
<div class="my-2">
    <button class="btn btn-outline-primary" @click="create()">Create</button>
</div>
<table class="table table-hover table-sm">
    <tr>
        <th>Login</th>
        <th>Scope</th>
        <th>Callsign</th>
        <th>Team</th>
        <th>Role</th>
        <th>Last connect</th>
        <th>Last sign</th>
        <th>SN</th>
        <th></th>
    </tr>
    <tr v-for="c in all">
        <td>{{ c.login }}</td>
        <td>{{ c.scope }}</td>
        <td>{{ c.callsign }}</td>
        <td>{{ c.team }}</td>
        <td>{{ c.role }}</td>
        <td>{{ dt(c.last_connect) }}</td>
        <td>{{ dt(c.last_sign) }}</td>
        <td>{{ c.serial }}</td>
        <td>
            <button class="btn btn-outline-primary btn-sm" @click="edit(c)"><i class="bi bi-pencil-square"></i></button>
        </td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="device_w" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2"><span v-if="current">{{ current.login }}</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div v-if="error" class="alert alert-danger">{{ error }}</div>
                <form @submit.prevent="send">
                    <div class="mb-3" v-if="!current">
                        <label for="login" class="form-label">Login</label>
                        <input class="form-control" id="login" v-model="form.login">
                    </div>
                    <div class="mb-3">
                        <label for="scope" class="form-label">Scope</label>
                        <input class="form-control" id="scope" v-model="form.scope">
                    </div>
                    <div class="mb-3">
                        <label for="callsign" class="form-label">Callsign</label>
                        <input class="form-control" id="callsign" v-model="form.callsign">
                    </div>
                    <div class="mb-3">
                        <label for="team" class="form-label">Team</label>
                        <select id="team" class="form-select" aria-label="Team" v-model="form.team">
                            <option></option>
                            <option>Clear</option>
                            <option>White</option>
                            <option>Yellow</option>
                            <option>Orange</option>
                            <option>Magenta</option>
                            <option>Red</option>
                            <option>Maroon</option>
                            <option>Purple</option>
                            <option>Dark Blue</option>
                            <option>Blue</option>
                            <option>Cyan</option>
                            <option>Teal</option>
                            <option>Green</option>
                            <option>Dark Green</option>
                            <option>Brown</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select id="role" class="form-select" aria-label="Team" v-model="form.role">
                            <option></option>
                            <option>Team Member</option>
                            <option>HQ</option>
                            <option>Team Lead</option>
                            <option>K9</option>
                            <option>Forward Observer</option>
                            <option>Sniper</option>
                            <option>Medic</option>
                            <option>RTO</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="callsign" v-model="form.password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn min-width-179 btn-warning" @click="send()">Сохранить</button>
                <button type="button" class="btn min-width-179 btn-outline-secondary" data-bs-dismiss="modal">Закрыть
                </button>
            </div>
        </div>
    </div>
</div>