<div class="row h-100">
    <div class="col-6 h-100 overflow-auto">
        <table class="table table-hover table-sm units">
            <tr>
                <th>Scope</th>
                <th>File</th>
                <th>Size</th>
                <th>MIME type</th>
                <th>Created</th>
            </tr>
            <tr v-for="p in all" @click="current = p">
                <td>{{ p.Scope }}</td>
                <td>{{ p.FileName }}</td>
                <td>{{ p.Size }}</td>
                <td>{{ p.MIMEType }}</td>
                <td>{{ dt(p.CreatedAt) }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6 h-100 overflow-auto">
        <div v-if="current != null">
            <h3>{{ current.Name }}</h3>
            <a class="btn btn-outline-primary" :href="'/api/file/' + current.ID">download</a><br/>
            Scope: {{ current.Scope }}<br/>
            UID: {{ current.UID }}<br/>
            Hash: {{ current.Hash }}<br/>
            MimeType: {{ current.MIMEType }}<br/>
            Keywords: {{ current.Keywords }}<br/>
            Author: {{ current.SubmissionUser }} {{ current.CreatorUID }}<br/>
            Tool: {{ current.Tool }}<br/>
            <a class="btn btn-outline-danger" :href="'/api/file/delete/' + current.ID">delete</a><br/>
            <img class="w-100" v-if="current.MIMEType.startsWith('image/')" :src="'/api/file/' + current.ID"/>
        </div>
    </div>
</div>