
<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-6">
            <h5>ATAK Server</h5>
            <div class="overflow-auto">
                <div class="alert alert-secondary info" role="alert" v-if="alert != null">
                    {{alert}}
                </div>
                <div class="card mb2">
                    <div class="card-header">Units</div>
                    <div class="card-body">
                        <table class="table table-hover table-sm units">
                            <tr v-for="u in by_category('contacts')>
                                <td>
                                    <img height=" 24px" src="/static/icons/coord_unlock.png"
                                         v-if="locked_unit != u.uid"
                                         v-on:click="locked_unit=u.uid"/>
                                    <img height="24px" src="/static/icons/coord_lock.png"
                                         v-if="locked_unit == u.uid"
                                         v-on:click="locked_unit=''"/>
                                </td>
                                <td v-on:click="setCurrentUnit(u)">
                                    <img v-bind:src="getImg(u)"/>
                                </td>
                                <td v-on:click="setCurrentUnit(u)"><span
                                        v-if="u.lat ===0 && u.lon ===0">* </span>{{u.callsign}}<span
                                        v-if="u.status != ''"> ({{u.status}})</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <table class="table table-hover table-sm">
                <tr v-for="p in all_points">
                    <td><img v-bind:src="getImg(p)"/></td>
                    <td>{{p.name}}</td>
                    <td>received: {{dt(p.received)}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
