<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATAK</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen">
[[- if .error -]]
<div class="bg-red-300 p-4 my-4 rounded-lg shadow-lg w-96">[[ .error ]]</div>
[[- end -]]
<div class="bg-white p-10 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Goatak</h2>
    <form method="post">
        <div class="mb-4">
            <label for="username" class="block text-gray-700 font-semibold mb-2">Login</label>
            <input type="text" name="login" id="username" value="[[.login]]"
                   class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
                   placeholder="Your login">
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
            <input type="password" name="password" id="password"
                   class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
                   placeholder="your paassword">
        </div>
        <button type="submit"
                class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    Login
        </button>
    </form>
</div>
</body>
</html>