<div id="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GoATAK server <span v-if="config != null">v.{{config.version}}</span></a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Units <span class="badge rounded-pill bg-success">{{unitsNum()}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li v-for="u in all_units">
                                <a class="dropdown-item" href="#" v-on:click="setCurrentUnit(u.uid)">
                                    <img v-bind:src="getImg(u)"/>
                                    <span v-if="u.lat ===0 && u.lon ===0">* </span>{{u.callsign}}<span
                                        v-if="u.status != ''"> ({{u.status}})</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Points <span class="badge rounded-pill bg-success">{{pointsNum()}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink2">
                            <li v-for="u in all_points">
                                <a class="dropdown-item" href="#" v-on:click="setCurrentUnit(u.uid)">
                                    <span v-if="u.lat ===0 && u.lon ===0">* </span>{{u.callsign}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat <span
                                class="badge rounded-pill bg-success">{{msgNum()}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid vh-100 mh-100" style="padding-top: 4rem;">
        <div class="row h-100">
            <div id="map" class="col-9 h-100">
            </div>
            <div class="col-3">
                <div class="card mb-1">
                    <div class="card-header">Tools</div>
                    <div class="card-body">
                        <div v-if="dp != null">
                            DP coords: {{dp.getLatLng().lat.toFixed(5)}}, {{dp.getLatLng().lng.toFixed(5)}} <span
                                v-on:click="removeDp()">remove</span>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="unit != null">
                    <div class="card-header">
                        <h5 v-on:click="mapToUnit(unit)">
                            <img v-bind:src="milImg(unit)"/> {{unit.callsign}} <span v-if="unit.status != ''"> ({{unit.status}})</span>
                            <img height="24" src="/static/icons/coord_unlock.png" v-if="locked_unit != unit.uid"
                                 v-on:click="locked_unit=unit.uid"/>
                            <img height="24" src="/static/icons/coord_lock.png" v-if="locked_unit == unit.uid"
                                 v-on:click="locked_unit=''"/>
                        </h5>
                    </div>
                    <div class="card-body">
                        <b>UID:</b> {{unit.uid}}<br/>
                        <span v-if="unit.team != ''"><b>Team:</b> {{unit.team}}, <b>Role:</b> {{unit.role}}<br/></span>
                        <b>Type:</b> {{unit.type}} <b>SIDC:</b> {{unit.sidc}}<br/>
                        <b>coords:</b> {{unit.lat.toFixed(5)}},{{unit.lon.toFixed(5)}}<br/>
                        <b>speed:</b> {{sp(unit.speed)}} km/h, <b>hae:</b> {{unit.hae.toFixed(1)}}<br/>
                        <span v-if="unit.tak_version != ''"><b>ver:</b> {{unit.tak_version}}<br/></span>
                        <b>time:</b> {{dt(unit.time)}} <b>stale:</b> {{dt(unit.stale)}}<br/>
                        <b>last seen</b>: {{dt(unit.last_seen)}}<br/>
                        {{unit.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>