<div class="container-fluid vh-100" id="app">
    <div class="row p-2 h-100 mb-1">
        <div class="sidebar border border-right col-md-3 col-lg-2 py-3">
            <h5>GoATAK server</h5>
            <hr/>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " dash"]]active[[end]]"
                    aria-current="page" href="/">
                    Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " units"]]active[[end]]"
                    aria-current="page" href="/units">
                    Units
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " missions"]]active[[end]]"
                    aria-current="page" href="/missions">
                    Missions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " files"]]active[[end]]"
                    aria-current="page" href="/files">
                    Files
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " points"]]active[[end]]"
                    aria-current="page" href="/points">
                    Points
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " devices"]]active[[end]]"
                    aria-current="page" href="/devices">
                    Devices
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " profiles"]]active[[end]]"
                    aria-current="page" href="/profiles">
                    Profiles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="/map">
                        Map
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="/webtak/index.html">
                        WebTAK
                    </a>
                </li>
            </ul>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 h-100">
            [[ embed ]]
        </main>
    </div>
</div>
