<div class="container-fluid" id="app">
    <div class="row p-2">
        <div class="sidebar border border-right col-md-3 col-lg-2 py-3">
            <h5>GoATAK server</h5>
            <hr/>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " dash"]]active[[end]]"
                    aria-current="page" href="/">
                    Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 [[if eq .page " missions"]]active[[end]]"
                    aria-current="page" href="/missions">
                    Missions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="/map">
                        Map
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="/webtak/index.html">
                        WebTAK
                    </a>
                </li>
            </ul>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            [[ .InheritedHTML ]]
        </main>
    </div>
</div>
