<div class="row">
    <div class="col-6">
        <table class="table table-hover table-sm units">
            <tr>
                <th>Name</th>
                <th>Scope</th>
                <th>Creator</th>
            </tr>
            <tr v-for="c in all_missions" @click="current = c">
                <td>{{ c.name }}</td>
                <td>{{ c.scope }}</td>
                <td>{{ c.creatorUid }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <div v-if="current != null" class="overflow-auto">
            <h3>{{ current.name }}</h3>
            creator: {{ current.creatorUid }}<br/>
            description: {{ current.description }}

            <div v-if="current.uids && current.uids.length > 0">
                <h5>Points</h5>
                <table class="table table-hover table-sm units">
                    <tr v-for="c in current.uids">
                        <td>{{ c.details?.type }}</td>
                        <td>{{ c.details?.callsign }}</td>
                        <td>{{ c.details?.location?.lat }},{{ c.details?.location?.lon }}</td>
                    </tr>
                </table>
            </div>

            <div v-if="current.contents && current.contents.length > 0">
                <h5>Files</h5>
                <table class="table table-hover table-sm units">
                    <tr v-for="c in current.contents">
                        <td><a :href="'/mp/' + c.data?.uid">{{ c.data?.name }}</a></td>
                        <td>{{ c.data?.mimeType }}</td>
                        <td>{{ c.data?.size }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>