<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
            <tr>
                <th>Scope</th>
                <th>UID</th>
                <th>Callsign</th>
                <th>Type</th>
                <th>Coords</th>
            </tr>
            <tr v-for="p in all" @click="current = p">
                <td>{{ p.Scope }}</td>
                <td>{{ p.UID }}</td>
                <td>{{ p.Callsign }}</td>
                <td>{{ p.Type }}</td>
                <td>{{ p.Lat }},{{ p.Lon }}</td>
            </tr>
        </table>
    </div>
</div>