<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Web ATAK server</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="container-fluid" id="app">
    <div class="row">
        <div id="map" class="col-9">
        </div>
        <div class="col-3">
            <div class="overflow-auto h-50">
                <div class="alert alert-secondary info" role="alert" v-if="config != null">
                    {{config.callsign}} Team {{config.team}} {{config.role}}
                </div>
                <table class="table table-hover table-sm units">
                    <tr v-for="u in all_units" v-if="typeof config.myuid === 'undefined' || u.uid != config.myuid">
                        <td>
                            <img height="24px" src="/static/icons/coord_unlock.png" v-if="locked_unit != u.uid"
                                 v-on:click="locked_unit=u.uid"/>
                            <img height="24px" src="/static/icons/coord_lock.png" v-if="locked_unit == u.uid"
                                 v-on:click="locked_unit=''"/>
                        </td>
                        <td v-on:click="map.setView([u.lat, u.lon]); unit=u;">
                            <img v-bind:src="getImg(u)"/>
                        </td>
                        <td v-on:click="map.setView([u.lat, u.lon]); unit=u;">{{u.callsign}}<span
                                v-if="u.status == 'Offline'"> off</span></td>
                    </tr>
                </table>
            </div>
            <div class="h-50">
                <div class="alert alert-secondary info" role="alert" v-if="unit != null">
                    <h5 v-on:click="map.setView([unit.lat, unit.lon])"><img
                            v-bind:src="milImg(unit)"/> {{unit.callsign}}
                        <img height="24" src="/static/icons/coord_unlock.png" v-if="locked_unit != unit.uid"
                             v-on:click="locked_unit=unit.uid"/>
                        <img height="24" src="/static/icons/coord_lock.png" v-if="locked_unit == unit.uid"
                             v-on:click="locked_unit=''"/>
                    </h5>
                    <span v-if="unit.team != ''">Team: {{unit.team}}, Role: {{unit.role}}<br/></span>
                    type: {{unit.type}}<br/>
                    coord: {{unit.lat}}, {{unit.lon}}<br/>
                    speed: {{sp(unit.speed)}} km/h, hae: {{unit.hae.toFixed(1)}}<br/>
                    <span v-if="unit.tak_version != ''">tak: {{unit.tak_version}}<br/></span>
                    time: {{dt(unit.time)}}<br/>
                    stale: {{dt(unit.stale)}}<br/>
                    last seen: {{dt(unit.last_seen)}}<br/>
                    <span v-if="unit.status != ''">Status: {{unit.status}}</span><br/>
                    {{unit.text}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/static/js/milsymbol.js"></script>
<script src="/static/js/main.js"></script>
</html>
